html, body {
	height: 100%;
	margin: 0;
}

#top {
	height: 33%;
	width: 100%;

	background-color: lightblue;
	
	color: white;

	text-align: center;
	font-size: 100px;
	font-family: "Lobster", cursive;
	text-shadow: -5px 5px 0 black;
}
